// PATHS
$imgpath:   '../img/';
$fontpath:  '../fonts/';

// COLORS
$white:       #ffffff;
$black:       #000000;
$lightergray: #f8f8f8;
$lightgray:   #f6f6f6;
$darkgray:    #4c4c4d;
$darkergray:  #2d2d2d;
$orange:      #ff6600;
$lightblue:   #219fbe;

//TYPOGRAPHIES
@font-face {
  font-family: 'Futura Medium';
  src: url($fontpath + "Futura-Medium.ttf");
}

@font-face {
  font-family: 'Avenir';
  src: url($fontpath + "Avenir.ttc");
}

$avenir: Avenir, sans-serif;
$futura: 'Futura Medium', sans-serif;

// BREAKPOINTS
$bp-small: 768px;

// KEYFRAMES
@keyframes slidein {
    from {
        margin-left:-500px;
    }

    to {
        margin-left: 0px;
    }
}

@keyframes slideout {
    from {
        margin-left: 0px;
    }

    to {
        margin-left:-500px;
    }
}


// MIXINS
@mixin tiles($width, $height) {
  .tile {
    width: $width;
    height: $height;
    &.orange {
      background: $orange;
      color: $lightergray;
      &:hover {
        background: darken($orange, 10%);
      }
    }
    &.lightergray {
      background: $lightergray;
      color: $darkgray;
      &:hover {
        background: darken($lightergray, 10%);
      }
    }
    &.darkgray {
      background: $darkgray;
      color: $lightergray;
      &:hover {
        background: darken($darkgray, 10%);
      }
    }
  }
}
