header
  .innerHeader
    .top-header
      h1
        a(href="#")
          img(src="assets/img/logo.png")

      form.search-form
        input(type="text", placeholder="Rechercher...")
        button.buttonSearch(type="submit")
          i(class="icon-search")

      button.connect Me connecter
      button.bucket Panier

    nav
      ul
        each item in data.topnav
          +navitem(item.title, item.icon, item.href)

    section.slider
      .counter
        .dot
          // Could be .active
