extends layout

block content

  section#piecesdetachees

    button(type="button") Pièce détachée

    .tileset
      // Could be .hidden
      each item in data.tiles
        +tile(item.title, item.icon, item.color, item.href)

    // TODO: Add arrow

  section#recherche

    h1 Recherche

    .search-module
      nav.tab-nab
        ul
          li#modele Par modèle
          li#immat Par immatriculation
          li#cartegrise Par carte grise
      .display
        form.form-modele
          input(type="text")
          input(type="text")
          input(type="text")

        form.form-immat
          // TODO: Build form "immatriculation"

        form.form-cartegrise
          // TODO: Build form "carte grise"

  section#partenaires

    h1 Garages partenaires

    .wrapper

      .map
        img(src="#")

      .display-info
        h4 partenaires

  section#quotes

    blockquote «Site magnifique merci à toute l’équipe de ce site !»

  section#grandesmarques
    h1
     | Les grandes marques
     span.subtile Nous font confiance

    .brand-carousel
      .arrow-right

      each brand in ['bosh', 'brembo', 'thule']
        -var brandimg = "./assets/img/" + brand + ".png"
        img(src=brandimg, alt=brand)

      .arrow-left

    h2 Ils parlent de Nous

    each brand in ['tf1', 'france2', 'rmc', 'm6', 'bfm', 'nrj12']
      -var brandimg = "./assets/img/" + brand + ".png"
      img(src=brandimg, alt=brand)
