extends layout

block content

  section#slider
    p Slider

  .innerBody
    section#piecesdetachees

      button(type="button") Pièce détachée

      .tileset
        // Could be .hidden
        each item in data.tiles
          +tile(item.title, item.icon, item.color, item.href)

      // Button Arrow
      button.arrowUp

    section#recherche

      h1 Recherche

      .search-module
        nav
          ul
            li#modele Par modèle
            li#immat Par immatriculation
            li#cartegrise Par carte grise
        .display
          form.form-modele
            input(type="text" placeholder="Marque")
            input(type="text" placeholder="Modèle")
            input(type="text" placeholder="Motorisation")
            input(type="submit" value="OK")

          form.form-immat
            input(type="text" placeholder="Plaque d'immatriculation")
            input(type="submit" value="OK")

          form.form-cartegrise
            input(type="text" placeholder="Entrez votre type mine")
            input(type="submit" value="OK")

    section#reassurance
      .satisfaction
        strong 9,2/10
        h2 Nos clients satisfaits
      .center
        strong 17 000 centres de montage
      .piece
        strong Pièces
        h2 Neuves et d’origines
      .payement
        strong Paiement
        h2 100% sécurisé

  section#partenaires

    h1 Garages partenaires & magasins

    .wrapper

      .map
        img(src="./assets/img/map.png")

      .display-info
        h3 partenaires

  .innerBody
    section#quotes

      blockquote «Site magnifique merci à toute l’équipe de ce site !»

    section#grandesmarques
      h1
       | Les grandes marques
       br
       span Nous font confiance

      .brand-carousel
        .arrow-left

        each brand in ['bosh', 'brembo', 'thule']
          -var brandimg = "./assets/img/" + brand + ".png"
          img(src=brandimg, alt=brand)

        .arrow-right

    section#media
      h1 Ils parlent de nous

    .medias
      each brand in ['tf1', 'france2', 'rmc', 'm6', 'bfm', 'nrj12']
        -var brandimg = "./assets/img/" + brand + ".png"
        img(src=brandimg, alt=brand)
