extends layout

block content

  section#piecesdetachees

    button(type="button") Pièce détachée

    .tileset
      // Coulb be .hidden
      each item in data.tiles
        +tile(item.title, item.icon, item.color, item.href)

    // TODO: Add arrow

  section#recherche

    h1 Recherche
