extends layout

block content

  section#piecesdetachees

    button(type="button") Pièce détachée

    .tileset.grid__cell--center
      // Coulb be .hidden
      each item in data.tiles
        .tile-wrap(class="1/2")
          +tile(item.title, item.icon, item.color, item.href)

    // TODO: Add arrow

  section#recherche

    h1 Recherche
