.menu.small-only
  nav.connect
    ul
      li
        a(href='#') Mon Compte
      i.flaticon-avatar
      li
        a(href='#') Se Déconnecter
      i.flaticon-logout
  nav
    ul
      li
        a(href='#') Accueil
      li
        a(href='#') A Boutique
      li
        a(href='#') Les Garages Partenaires
      li
        a(href='#') Les Magasins
      li
        a(href='#') Nous Contacter
  footer
    .social
      ul
        li
          a(href='#')
            i.flaticon-facebook
        li
          a(href='#')
            i.flaticon-google-plus
        li
          a(href='#')
            i.flaticon-twitter
        li
          a(href='#')
            i.flaticon-pinterest
