@import "inc/base";

/*HEADER*/
header {
  background: $lightergray;

  .innerHeader {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 40px;
  }

  .top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .search-form {
    display: flex;
    align-items: center;
  }

    input[type="text"] {
      width: 250px;
      height: 45px;
      border: 0;
      padding-left: 10px;
      margin-right: 50px;
      outline: none;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font: 15px $futura;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font: 15px $avenir;
    }
    :-moz-placeholder { /* Firefox 18- */
      font: 15px $avenir;
    }

    .connect {
      border: 1px solid $lightblue;
      background: 0;
      font: 12px $futura;
      color: $darkergray;
      letter-spacing: 2px;
      width: 140px;
      height : 40px;
      cursor: pointer;
      outline: none;

       &:hover {
         border: 1px solid $lightblue;
         background: $lightblue;
         color: $white;
         transition-duration: 1s;
       }
    }

    .bucket {
      border: 1px solid $orange;
      background: 0;
      font: 12px $futura;
      color: $darkergray;
      letter-spacing: 2px;
      width: 140px;
      height : 40px;
      cursor: pointer;
      outline: none;

      &:hover {
        border: 1px solid $orange;
        background: $orange;
        color: $white;
        transition-duration: 1s;
      }
    }

  nav {
    margin-top: 30px;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
    li {
      text-align: center;
      margin-right: 40px;
    }
  }

  a {
    text-decoration: none;
    font: 12px $futura;
    color: $black;
    &:hover {
      color: $lightblue;
    }
    img {
      display: block;
      margin: 10px auto;
    }
  }

  .buttonSearch {
    background: url($imgpath + "loop.png") no-repeat;
    border: 0;
    width: 34px;
    height: 34px;
    cursor: pointer;
    outline: none;
  }
}

/*BODY*/
.innerBody {
  width: 1280px;
  margin: 0 auto;
}

/*SLIDER*/
#slider {
  background: url($imgpath + "publicite.png") no-repeat;
  background-size: contain;
  height: 300px;
}

/*TUILES*/
#piecesdetachees button {
  margin: 50px 0 100px;
}

.tileset {
  @include tiles(235px, 235px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin: 0 150px;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile h4 {
  font: 15px $avenir;
  margin-top: 10px;
}

.arrowUp {
  margin: 130px auto 190px;
}

#piecesdetachees {
  text-align: center;

  .buttonPieces {
    border: 6px solid $orange;
    border-radius: 25px;
    background: none;
    cursor: pointer;
    color: $darkgray;
    font: 22px $futura;
    letter-spacing: 3px;
    outline: none;
    padding: 5px 30px;

    &:hover {
      background: $orange;
      color: $white;
      transition: .5s;
    }
  }
  .buttonUp {
    background: url($imgpath + "up.png") no-repeat;
    border: 0;
    width: 65px;
    height: 40px;
    outline: none;
    cursor: pointer;
  }
}

/*RECHERCHE PAR ONGLETS*/
#recherche {
  margin-bottom: 220px;
}

#recherche h1 {
  text-align: center;
  font: 35px $futura;
  color: $darkgray;
  margin-bottom: 130px;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:after {
    content:"";
    display: block;
    border-bottom: 6px solid $orange;
    width: 130px;
    margin-left: 670px;
    margin-top: 5px;
  }
}

.search-module {
  margin: 0 auto;
  background: $lightergray;
  .display {
    background: inherit;
    select {
      display: inline-block;
      width: 245px;
      height: 45px;
      border: 0;
      padding-left: 10px;
      margin: 0 3px;
      outline: none;
    }
    input[type="submit"] {
      display: block;
      margin: 50px auto 0;
      border: 1px solid $orange;
      font: 15px $futura;
      background: 0;
      padding: 10px 30px;
      outline: none;
      cursor: pointer;

      &:hover {
        border: 1px solid $orange;
        background: $orange;
        color: $white;
        transition-duration: 1s;
      }
    }
  }
  form {
    display: none;
    &.active {
      display: block;
    }
  }
  nav {
    ul {
      display: flex;
      flex-direction: row;
      background: $darkgray;
      li {
        text-align: center;
        width: 33.333333%;
        padding: 35px 0;
        font: 16px $futura;
        color: $white;
        &:hover {
          cursor: pointer;
          background: $lightergray;
          color: $darkgray;
          transition-duration: .5s;
        }
        &.selected {
          background: $lightergray;
          color: $darkgray;
        }
      }
    }
  }
}

/*REASSURANCE*/
#reassurance {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 10px 140px;
  text-align: center;
  strong {
    font: 28px $futura;
    color: $darkgray;
    letter-spacing: 2px;
  }
  h2 {
    font: 16px $avenir;
    color: $orange;
  }
  img {
    margin: 25px;
  }
  .satisfaction, .center, .piece, .payement {
    width: 220px;
    height: 200px;
    margin: 0 50px;
  }
}

/*GARAGES ET MAGASINS*/
#partenaires h1 {
  font: 30px $futura;
  color: $darkgray;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  letter-spacing: 3px;
  &:after {
    content: "";
    display: block;
    border-bottom: 6px solid #ff6600;
    width: 130px;
    margin-left: 860px;
    margin-top: 5px;
  }
}

.wrapper {
  display: flex;
  background: $lightgray;
  padding: 25px 100px 25px 350px;
  .map {
    display: inline-flex;
    border: 6px solid $darkgray;
    padding: 25px;
  }
  .display-info {
    display: inline-flex;
    padding-left: 5%;
    flex-direction: column;
    justify-content: space-between;
    .display-wrap {
      margin-top: 130px;

      h3 {
        font: 20px $futura;
        letter-spacing: 2px;
        padding: 10px 200px;
        &:after {
          content:"";
          display: block;
          border-bottom: 3px solid $orange;
          width: 30px;
          margin-left: 40px;
        }
      }

      p {
        font: 12px $avenir;
        letter-spacing: 1px;
        padding-left: 170px;
      }
    }

    ul {
      display: flex;

      li {
        font: 14px $futura;
        margin: 0 40px 0 50px;
        letter-spacing: 2px;

        img {
          width: 10px;
          display: block;
          margin: 15px auto;
        }
      }
    }
  }
}

/*CITATIONS*/
#quotes {
  margin: 165px 0 170px;
}

blockquote {
  font: 35px $futura;
  color: $darkgray;
  text-align: center;
}

/*GRANDES MARQUES*/
#grandesmarques h1 {
  font: 30px $futura;
  color: $darkgray;
  text-align: center;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 130px;
}

#grandesmarques span {
  font: 18px $avenir;
  color: $orange;
  text-transform: initial;
}

.brand-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  img {
    width: 200px;
    height: 100%;
    margin: 0 25px;
    &.arrow {
      width: 30px;
      cursor: pointer;
      &:hover{
        width: 31px;
      }
    }
  }
}

/*MEDIAS*/
#media h1 {
  font: 30px $futura;
  color: $darkgray;
  text-transform: uppercase;
  text-align: center;
}

.medias {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.medias img {
  width: 80px;
  height: 100%;
  margin: 0 25px;
}

.medias img:nth-child(2){
  width: 40px;
  height: 100%;
}

/*FOOTER*/
footer {
  background: $lightgray;
  font: 12px $futura;
  color: $darkgray;

  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 65px 100px 35px;
    font-weight: bold;
  }
}

.innerFooter {
  width: 1280px;
  margin: 0 auto;
  padding-top: 50px;
}

.newsletter span {
  display: block;
  font: 10px $avenir;
  color: $orange;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  padding: 50px;
}

.display li {
  list-style-type: none;
  line-height: 20px;
}

.display a {
  text-decoration: none;
  color: $darkgray;
}

.display a:hover {
  border-bottom: 2px solid $darkgray;
}
